<div class="w-50 mx-auto">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field border-bottom">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "no-border", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field border-bottom pt-2">
      <%= f.label :password%><br />
      <%= f.password_field :password, class: "no-border", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field py-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="d-flex actions py-2">
      <div class="me-auto">
        <%= f.submit "Log in", { class: "btn btn-success" }%>
      </div>
      
    </div>
  <% end %>

  <div class="pt-2">
    <%= render "devise/shared/links" %>
  </div>
</div>

