<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="d-flex py-4">
      <div class="mx-auto py-2 w-75">
        <%= yield %>
        <p class="notice text-center"><%= notice %></p>
        <p class="alert text-center"><%= alert %></p>
      </div>
    </div>
    
  </body>
</html>
